#fondo {
    transition: opacity .5s;
    animation: fadein 5s;
    cursor: default;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img {
    user-drag: none;
    -webkit-user-drag: none;
}