body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    font-family: 'Star Jedi', cursive;
}

h1 {
    color: #ffe81f;
}

.actions,
.container {
    max-width: 100%;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

.form-group label {
    color: #f0e68c;
}

.table {
    background-color: rgba(34, 34, 34, 0.75);
}

.table td {
    color: #f0e68c;
}

thead {
    background-color: #1c1c1c;
}

thead th {
    color: #ffe81f;
}

.content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.table-container {
    flex-basis: 75%;
    padding-left: 15px;
}

.actions {
    flex-basis: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-danger {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-danger:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}


/*.alert-removed {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.alert-removed.fade-out {
    opacity: 0;
}*/